<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.0.0" newVersion="2.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


  <appSettings>
    <add key="BaseUrl" value="http://localhost:49832/api" />
    <!--<add key ="BaseUrl" value="http://50.205.95.115/api"/>-->
    <!--<add key ="BaseUrl" value="https://www.quandl.com/api"/>-->
    <add key="ApiKey" value="XXXXXXXXXXXXXXX" />
  </appSettings>
</configuration>